{% extends './layout.html' %}
{% load static %}

{% block content %}

{% for session in sessions %}
    <div class="card card-body mb-4 container">
        <div class="row mb-3">
            <div class="col text-nowrap">App name</div>
            <div class="col">{{ session.application }}</div>
        </div>
        <div class="row mb-3">
            <div class="col text-nowrap">User name</div>
            <div class="col">{{ session.user_name }}</div>
        </div>
        <div class="row mb-3">
            <div class="col text-nowrap">E-mail</div>
            <div class="col">{{ session.email }}</div>
        </div>
        <div class="row mb-3">
            <div class="col text-nowrap">Password</div>
            <div class="col d-flex">
                <div>{{ session.password }}</div>
                <div class="position-relative start-0 p-0 ml-3" style="cursor:pointer;">
                    <img src="{% static 'pswds_keeper/view.png' %}" id="show-hide-pswd" alt="">
                </div>
            </div>
        </div>
    </div>

    <script>
        document.onload = () => {
            var show_hide_pswd = document.getElementById('show-hide-pswd');
    
            show_hide_pswd.addEventListener('click', (e) => {
                if (show_hide_pswd.src.includes('view.png'))
                    show_hide_pswd.src.replace('view.png', 'hide.png');
                else
                    show_hide_pswd.src.replace('hide.png', 'view.png');
            });
        }
    </script>
{% endfor %}

{% endblock %}